/*----------------------
    Error Area  
------------------------*/

.error-page-inner{
    display: flex;
    align-items: center;
    min-height: 700px;
    .inner {
        text-align: center;
        h1{
            &.title {

                line-height: 1;
                margin-bottom: 0;
                @media #{$sm-layout} {

                }
            }
        }
        .sub-title {
            margin-bottom: 0;


            color: #ffffff;
            @media #{$sm-layout} {

            }
        }
        span {

            margin-top: 10px;
            color: #c6c9d8;
            opacity: .75;

            display: block;
            margin-bottom: 28px;
        }
    }
}
