.slide-down {
  animation: slide-down 300ms ease-out forwards;
}

.wordpress-embedded-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5%;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.birthday-hat {
  position: absolute;
  height: 150px;
  top: 6vh;
  left: -40px;
  transform: rotate(-35deg);

  @media only screen and (min-width: 600px) and (max-width: 1200px) {
    top: 12vh;
  }

  @media only screen and (max-width: 600px) {
    scale: 0.8;
    top: 12vh;
  }
}

.holiday-special {
  position: fixed;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $body-color;
  z-index: 1000;
  padding: 10px !important;
  border-radius: 5px;
}

.tooltip_info {
  scale: 0.8;
}

.disabled {
  cursor: no-drop;
}

.holiday-special-btns {
  display: flex;
  gap: 5px;

  button {
    max-width: 200px;
    transform: scale(0.7);
  }
}
.special-icon {
  position: absolute;
  scale: 0.3;
  top: -90%;
  margin-right: 30px;
  transform: rotate(20deg);

  @media only screen and (min-width: 680px) and (max-width: 800px) {
    top: -70%;
  }

  @media only screen and (max-width: 600px) {
    top: -50%;
  }
}
.gif-container {
  position: absolute;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gif-image {
  width: 120%;
  margin-bottom: 2px;
  margin-left: -8%;
  margin-right: -8%;
  break-inside: avoid;
}

.gif-image img {
  max-width: 100%;
}

h3 {
  &.label {
    color: $body-color;
  }
}

input[type="radio"] {
  width: 20px;
}

.preview-small {
  height: 80px;
  margin-bottom: 7px;
  margin-top: 7px;
}
@media only screen and (max-width: 1000px) {
  .preview-small {
    height: 60px;
  }
}

.error_panel {
  top: 5%;
  transform: translateX(-50%);
  max-width: 60%;
  position: fixed;
  z-index: 10000;
  animation: slide-down 300ms ease-out forwards;

  .action_btns {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media #{$small-mobile} {
    padding: 0 40px 40px;
  }

  @media only screen and (max-width: 800px) {
    max-width: 90%;
    margin-left: 5%;
  }

  @media only screen and (min-width: 801px) {
    left: 30%;
  }
}

.logout_alert {
  position: fixed;
  padding: 20px;
  z-index: 1000;
  top: 20px;
  right: 10%;
  animation: slide-down 300ms ease-out forwards;
}

.x_icon {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.card_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
  padding: 1% 5%;
  border-radius: 5px;
  border: solid 3px $body-color;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.card_text {
  max-width: 50%;

  @media only screen and (max-width: 800px) {
    max-width: 90%;
  }
}

small {
  font-size: 16px;
}

hr {
  width: 100%;
  height: 2px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.362);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.p-button-success,
.p-button-danger {
  color: black !important;
  font-size: large !important;
}

.p-datepicker-trigger {
  margin-left: 5px;
  border-radius: 50%;
}

.p-datepicker-next,
.p-datepicker-prev {
  display: inline-block !important;
  z-index: 999 !important;
  color: $body-color !important;
  font-size: medium !important;
  font-weight: bold !important;
}

.p-inputnumber-button-up,
.p-inputnumber-button-down {
  border-radius: 30% !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  scale: 0.8 !important;
}

.p-dialog {
  max-width: 95% !important;
}

/* Hide the scrollbar for all PrimeReact Dialogs */
.p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.p-dialog .p-dialog-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.p-toast-message {
  backdrop-filter: blur(
    2000px
  ) !important; /* Ensure the background is fully opaque */
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: $theme-color;
}

.rdp-caption_label {
  font-size: large;
  margin-left: 10px;
}

.calendar {
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: -30px;

  @media only screen and (max-width: 800px) {
    scale: 0.8;
    margin-left: -10%;
  }
}

.p-button {
  color: black !important;
  border: none !important;
}

.p-icon-field > .p-input-icon {
  top: 0 !important;
  margin-top: 0 !important;
}

div[data-pc-name="password"] {
  input.p-inputtext.p-component.p-filled {
    padding-right: 31px;
  }
}

.p-paginator-page.p-paginator-element.p-link.p-highlight {
  height: 2em !important;
  min-width: 2em !important;
  width: 2em !important;
  border: 2px solid $body-color !important;
  border-radius: 50% !important;
}

.p-calendar {
  padding: 0 !important;
  margin: 0 !important;
  display: inline;

  &input {
    padding: 0 !important;
  }
}
.p-inputotp-input {
  padding: 0 !important;
}

.plain {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

label {
  background-color: $label-color;
  width: auto;
  padding: 2px 5px;
}

::placeholder {
  font-weight: 800;
  border-radius: 10px !important;
}

.p-dropdown-label {
  height: 38px;
  font-size: 20px;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  color: #017363;
}

.phone_code {
  height: 1.5em;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;

  .phone_code_prefix {
    border: 2px solid #aaa;
  }

  .phone_code_content {
    width: 100%;
  }
}

.p-progress-spinner {
  margin: 0 !important;
}