/*====================
    Hero Area 
======================*/

.hero-line {
  background-image: url(/public/assets/images/borders/5.png);
  margin-left: -8px;
  height: 2em;
  width: 100%;
  background-repeat: repeat-x;
}

.hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .left-container {
    background: linear-gradient(150deg, $white, $body-color, $theme-color-2);
    width: 50vw;
    height: 17em;
    border-radius: 0px 4em 1em 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Box shadow */

    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .right-container {
    display: flex !important;
    object-fit: contain;
    max-width: 50vw;
    max-height: 17em;
    border-radius: 1em 0px 0px 4em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Box shadow */
  }

  @media #{$sm-layout} {
    flex-direction: column;

    .left-container {
      width: 90vw;
      align-self: flex-start;
      height: 7em;
      border-radius: 0px 2em 10px 0px;

      h1,
      a,
      button {
        scale: 0.7;
      }

      a {
        margin-top: -2.5em;
      }
    }

    .right-container {
      object-fit: fill;
      max-width: 90vw;
      align-self: flex-end;
      height: 7em;
      border-radius: 10px 0px 0px 2em;
    }
  }
}

/*====================
    About Area 
======================*/

.rn-finding-us-area {
  .inner {
    position: relative;
    padding-left: 240px;
    padding-top: 110px;
    padding-bottom: 110px;

    @media #{$lg-layout} {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    @media #{$md-layout} {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    @media #{$sm-layout} {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: column-reverse;
    }
    .content-wrapper {
      .content {
        background: #272527;
        padding: 120px 100px;
        position: relative;
        z-index: 2;
        width: 800px;
        border-radius: 10px;

        @media #{$lg-layout} {
          padding: 60px 50px;
          width: 100%;
          border-radius: 0;
        }

        @media #{$md-layout} {
          padding: 60px 50px;
          width: 100%;
          border-radius: 0;
        }

        @media #{$sm-layout} {
          padding: 30px 30px;
          width: 100%;
          border-radius: 0;
        }

        h4 {
          color: #ffffff;
          font-size: 36px;
          font-weight: 500;
          margin-bottom: 20px;
          @media #{$sm-layout} {
            font-size: 26px;
            margin-bottom: 12px;
          }
        }
        p {
          font-size: 18px;
          color: #ffffff;
          font-weight: 300;
          margin-bottom: 41px;
          padding-right: 10%;
          @media #{$sm-layout} {
            margin-bottom: 24px;
            padding-right: 0;
          }
        }
      }
    }
    .thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      @media #{$lg-layout} {
        position: static;
        height: 100%;
      }

      @media #{$md-layout} {
        position: static;
        height: 100%;
      }

      @media #{$sm-layout} {
        position: static;
        height: 100%;
      }
      img {
        border-radius: 10px;
        @media #{$lg-layout} {
          border-radius: 0;
        }
        @media #{$md-layout} {
          border-radius: 0;
        }
        @media #{$sm-layout} {
          border-radius: 0;
        }
      }
    }
  }
}

.about-inner {
  @media #{$md-layout} {
    padding-top: 40px;
  }
  @media #{$sm-layout} {
    padding-top: 40px;
  }
  .section-title {
    h2 {
      &.title {
        margin-bottom: 8px;
      }
    }
    p {
      &.description {
        font-weight: 300;
        color: #717173;
        a {
          color: rgba(29, 29, 36, 1);
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
}

.about-wrapper {
  margin-top: 100px;
  .thumbnail {
    position: relative;
    z-index: 2;
    img {
      border-radius: 8px;
    }
  }
}

.about-position-top {
  @media #{$lg-layout} {
    padding-top: 120px;
  }
  @media #{$md-layout} {
    padding-top: 80px;
  }
  @media #{$sm-layout} {
    padding-top: 60px;
  }
  .thumbnail {
    margin-top: -130px;
    @media #{$lg-layout} {
      margin-top: 0;
    }
    @media #{$laptop-device} {
      margin-top: -89px;
    }
    @media #{$md-layout} {
      margin-top: 0;
    }
    @media #{$sm-layout} {
      margin-top: 0;
    }
  }
}

.about-us-list {
  margin-top: 15px;
  h3 {
    &.title {
      font-size: 30px;
      @extend %fontWeight500;
      margin-bottom: 20px;
      @media #{$sm-layout} {
        font-size: 26px;
        margin-bottom: 8px;
      }
    }
  }
  p {
    font-weight: 300;
    color: rgba(29, 29, 36, 0.75);
  }
}

.rn-content-box-style--1 {
  .content {
    text-align: left;
    padding: 0 120px;
    @media #{$md-layout} {
      padding: 0 60px;
    }
    @media #{$sm-layout} {
      padding: 0 40px;
    }
    p {
      &.subtitle {
        color: $heading-color;
        font-size: 20px;
        font-weight: 400;
        background: rgba(255, 26, 80, 0.03);
        padding: 8px 25px;
        display: inline-block;
        border-radius: 4px;
        span {
          color: $theme-color;
        }
      }
    }
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 50px;
      font-weight: 500;
      @media #{$lg-layout} {
        margin-top: 7px;
      }
      @media #{$md-layout} {
        margin-top: 7px;
      }
      @media #{$sm-layout} {
        margin-top: 7px;
      }
    }
    p {
      color: rgba(29, 29, 36, 0.75);
      font-size: 20px;
      line-height: 30px;
    }
  }
}

/*====================
    Events Area 
======================*/

.past-events-gallery {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // gap: 2em;

  .gallery-element-left {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .gallery-showcase {
      transform: rotate(-10deg);
    }

    @media #{$large-mobile} {
      flex-direction: column-reverse;
    }
  }

  .gallery-element-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .gallery-showcase {
      transform: rotate(10deg);
    }

    @media #{$large-mobile} {
      flex-direction: column-reverse;
    }
  }

  .gallery-showcase,
  img {
    max-width: 20em;
    max-height: 20em;
    border-radius: 50% 45% 55% 50% / 60% 50% 45% 55%;
    border: 5px solid $label-color;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 15px rgba(255, 255, 255, 0.6),
        -5px -5px 15px rgba(0, 0, 0, 0.1);
    
    animation: bubble-motion 13s infinite ease-in-out;
  }

  h3 {
    width: 12em;
    margin: 0 1em 0 1em;

    @media #{$large-mobile} {
      text-align: center;
      margin: 2em 0 0 0;
    }
  }
}

@keyframes bubble-motion {
    0%, 100% {
        border-radius: 60% 40% 70% 30% / 65% 45% 30% 70%;
    }
    25% {
        border-radius: 70% 30% 50% 40% / 45% 65% 55% 35%;
    }
    50% {
        border-radius: 40% 70% 60% 30% / 60% 40% 70% 50%;
    }
    75% {
        border-radius: 55% 45% 35% 65% / 70% 30% 45% 60%;
    }
}